# Database Configuration
# Development: use localhost with trust auth
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# NextAuth Configuration
NEXTAUTH_URL="https://your-domain.com"
NEXTAUTH_SECRET="GENERATE-A-32-CHAR-RANDOM-STRING-USING-openssl-rand-base64-32"

# Environment
NODE_ENV="production"
